.board-margin{
    margin: 5em;
}

.turn-text{
    font-size: 25em;
    font-weight: bold;
}

.player-info{
    margin: 20em;

}

.score-text{
    font-size: 18em;
    color: black;
}

.turn-time{
    font-size: 25em;
    color: black;
}