.mode-title{
    margin: 20em 20em;
    background-color: #056abd;
    border-radius: 5em;
    height: 40em;
    width:70%;
}

.mode-title-text{
    color:white;
    font-size: 20em;
    font-weight: bold;
}

.board{
    width: 30%;
}

.board-text{
    color: black;
    font-size: 20em;
}

.pname-text{
    color: black;
    font-size: 20em;
    font-weight: bold;
    margin-bottom: 8em;
}

.go-button{
    border-radius: 5em;
    background-color: #056abd;
    color: white;
    font-size: 15em;
    width: 120em;
    height: 40em;
    margin: 0em 5em;
}

.back{
    border-radius: 50%;
    background: #056abd;
    height: 70em;
    width: 70em;
    margin: 5em 5em;
    color: white;
    font-size: 18em;
}
