.main-top{
    background-color: #056abd;
}

.main-bottom{
    background-color: #af3333;
}

.play{
    color: white;
    font-size: 120em;
}

.title{
    color: white;
    font-size: 80em;
    font-weight: bold;
}