.main-top{
    background-color: #056abd;
}

.main-bottom{
    background-color: #af3333;
}

.mode-btn{
    font-size: 25em;
    font-weight: bold;
    color: rgb(214, 214, 214)
}

.blue-color{
    background-color: rgba($color: #1f88dd, $alpha: 0.5);
}

.red-color{
    background-color: rgba($color: #dd1f1f, $alpha: 0.5);
}